// WooCommerce.scss

#page {

    #header {

        background: $wc-background;

        #headerimg {

            height: 100px;

            h1 {

                color: green;

                a {

                    color: red;
                    text-decoration: none;
                }

            }

            .description {

                text-align: center;
                margin-top: 10px;
                font-weight: bold;
            }

        }

    }
    #primary {

        #main {            
    
            .woocommerce-breadcrumb {
    
                margin: 10px 0;
                width: 100%;
                text-align: center;
    
                color: $color-primary;
    
                a {
                    
                    color: $wc-link-color;
                }
    
            }
    
            .woocommerce-products-header {
    
                .woocommerce-products-header__title, 
                .page-title {
    
                    color: $color-primary;
    
                }
    
                .page-description {
    
                    p {
    
                    }
    
                }
    
            }
    
            .woocommerce-notices-wrapper {
    
            }
    
            .woocommerce-result-count {
    
                // paragraph element - e.g. center text alignment
                color: $color-primary;
    
            }
    
            .woocommerce-ordering {
    
                
    
                .orderby {
    
                    background: yellow;
                    padding: 10px 0;
    
    
                    // TODO: Default Sort
    
                    option {
    
                        background: #ed9141;
    
                        outline: green;
    
                        &.selected {
    
                            // Note: Adds the selected class to option element on orderby selection
                            background: yellow;
    
                        }
    
                      
    
                    } 
    
                }
    
            }
    
            .products {
    
                // products archive page - product list container element
                .type-product {
    
                    .woocommerce-LoopProduct-link {
    
                        // Note: Style selector for the sale icon when product has a sale price
                        .onsale {
    
                            margin: -10px 0 0 0;
                            border: white solid 3px;
    
                        }
    
                        .attachment-woocommerce_thumbnail {
    
                        }
    
                        .woocommerce-loop-product__title {
                            color: red
    
                        }
    
                        .price {
                            
    
                            // Selectors for standard pricing - no sale/discount price
                            .woocommerce-Price-amount {
    
                                bdi {                               
    
                                    color: $price-amount;
    
                                    .woocommerce-Price-currencySymbol {
                                        
                                        color: $price-amount-currency;
                                        
                                    }
    
                                }
    
                            }
    
                            // Selectors for Full price display
                            del {
                                
                                .woocommerce-Price-amount {
    
                                    bdi {
    
                                        color: $delprice;
    
                                        .woocommerce-Price-currencySymbol {
    
                                            color: $delprice-currency;
    
                                        }
    
                                    }
    
                                }
    
                            }
    
                            // Selectors for discounted/sale price
                            ins {                           
    
                                .woocommerce-Price-amount {
    
                                    bdi {                                    
    
                                        color: $strike-price;
    
                                        .woocommerce-Price-currencySymbol {
    
                                            color: $strike-price-currency;
    
                                        }
    
                                    }
    
                                }
    
                            }
    
                        }
    
                    }
    
                    .product_type_simple {
    
                        // Note: Add to basket button selector as an anchor element
                        background: lightyellow;
    
                    }
    
                }
                
            }
    
        }
    } 

    #sidebar {


        /* WooCommerce Sidebar Section 

        Three Child <ul> elements

        1. Search Text Box and Button
        2. Site Pages List - role=navigation
        3. Third Child - Blank <ul> Element by default
        */

        
        // Author information and Search Form - You can also try using a first-child CSS 
        // selector for ul elements that are children for the div element with an ID of #sidebar   
        
        background: $wc-background;

        ul {

            display: inline-block;
            vertical-align: top;
            width: 45%;
            text-align: center;

            li {

                list-style: none;

                // 
                #searchform {

                    // Note: <form> element

                    div {

                        .screen-reader-text {

                        }

                        #s {

                            padding: 5px;
                            background: lightyellow;

                        }

                        #searchsubmit {

                            background: lightblue;
                            margin: 20px 0;

                        }

                    }

                }

            }

            // ul role= navigation - Sidebar pages navigation list
            li.pagenav {

                h2 {

                }

                ul {                    

                    text-align: left;

                    .page-item {

                        // Note: list item selector that contains an anchor tag for each page

                        a {

                            color: $wc-link-color-secondary;

                            &:hover {

                                text-decoration: none;
                            }

                        }
                        
                    }

                }

            }

            // Note: WooCommerce outputs no class selector for second list item; that is meant for the Sidebar archives list
            li {

                padding: 2px 0;

                h2 {

                    // Archive Title Text

                }
                
                ul {

                    li {

                        text-align: left;

                        a {

                            color: $wc-link-color-secondary;

                            &:hover {

                                text-decoration: none;
                            }


                        }

                    }

                }

            }

            // Note: Selector for Sidebar Categories list
            li.categories {

                h2 {

                }

                ul {

                    li.cat-item {

                        text-align: left;

                        a {

                            color: $wc-link-color-secondary;

                            &:hover {

                                text-decoration: none;
                            }

                        }

                    }

                }

            }

        }

    }


    #footer {

        // Note: #footer is a div element  with id of footer (WooCommerce default state)
        background: $wc-background;
        height: 75px;

        p {
    
            text-align: center;
            padding-top: 20px;

            a {
                
                color: blue;
    
                &:hover {
    
                    text-decoration: none;
                }
    
            }
    
        }
    
    }

}