/* Pages and their Selectors  - Custom WooCommerce Theme
*
* Use this file to as an alternative place to get the CSS Selectors you need.
* (Written in SASS)
*/

/* WooCommerce Shop Homepage - Selectors Checked: 01-06-2022 - 11:44  */

.wp-block-cover {

    .wp-block-cover__gradient-background {

    }

    .wp-block-cover__image-background {

    }

    .wp-block-cover__inner-container {

        .has-text-color {

            // has text colour seems to be the neutral class to target

        }

        .wp-block-button {

            .wp-block-button__link {

            }

        }

    }

}

// Section: New Products (Level 2 Heading Element) 
.has-text-align-center {

}

// New Products Section Selectors - wc-block-grid 
.wc-block-grid 
.wp-block-product-new {

    .wc-block-grid__products { 

        .wc-block-grid__product {

            .wc-block-grid__product-link {

                .wc-block-grid__product-image {

                    .attachment-woocommerce_thumbnail {

                    }

                }

                .wc-block-grid__product-title {

                }
                
            }

            
            // Note: product sale icon
            .wc-block-grid__product-onsale {

            }

            // Note: product price selectors
            .wc-block-grid__product-price {

                .woocommerce-Price-amount {

                    .woocommerce-Price-currencySymbol {

                    }  

                }


                // Selectors for sale and strikethrough full pricing
                del {

                    .woocommerce-Price-amount {

                        .woocommerce-Price-currentSymbol {

                        }
                    }

                }

                ins {

                    .woocommerce-Price-amount {

                        .woocommerce-Price-currentSymbol {

                        }  

                    }

                }

            }

        }

    }

}

// Media Text Block classes
.wp-block-media-text {

    .wp-block-media-text__media {

        .size-full {

        }

    }

    .wp-block-media-text__content {

    }

}

// Block Media Text: WooCommerce 
.wc-block-media-text {

    .wp-block-media-text__media {

        img,
        .size-full {

            // Note: .size-full class is available for this element

        }

        .wp-block-media-text__content {

            p {

                // uses an element selector rather than any of the supplied classes

            }

        }

    }

}
                        
// Featured Product Wrapper 
.wc-block-featured-product {

    .wc-block-featured-product__wrapper {

        .wc-block-featured-product__title {

            // Note: Level 2 heading element

        }
        
        .wc-block-featured-product__description {
             
            p {

            }

        }
        
        .wc-block-featured-product__price {

            // Note: Selectors for the price and currency symbol
            .woocommerce-Price-amount {

                .woocommerce-Price-currencySymbol {


                }

            }

        }
        
        .wc-block-featured-product__link {

            .wp-block-button, 
            .aligncenter {

                .wp-block-button__link {                  


                }

            }

        }

    }

}


/* WooCommerce Shop Archive Page - Selectors Checked: 31-05-2022 - 20:30 */

// Containing element
#page {

    #header {
        

        #headerimg {

            h1 {

                a {

                }

            }

            .description {


            }

        }

    }

    #primary {

        #main {            

            .woocommerce-breadcrumb {

                ::before {

                }

                a {
                    
                }

                ::after {

                }

            }

            .woocommerce-products-header {

                .woocommerce-products-header__title, 
                .page-title {
                    

                }
                
            }

            .woocommerce-notices-wrapper {

            }

            .woocommerce-result-count {

                // paragraph element - e.g. center text alignment
                color: $color-primary;

            }

            .woocommerce-ordering {                

                .orderby {

                    background: yellow;
                    padding: 10px 0;


                    // TODO: Default Sort

                    option {

                        background: #ed9141;

                        outline: green;

                        &.selected {

                            // Note: Adds the selected class to option element on orderby selection
                            background: yellow;

                        }

                    

                    } 

                }

            }

            .products {

                // products archive page - product list container element
                .type-product {

                    .woocommerce-LoopProduct-link {

                        // Note: Style selector for the sale icon when product has a sale price
                        .onsale {
                            

                        }

                        .attachment-woocommerce_thumbnail {

                        }

                        .woocommerce-loop-product__title {
                            

                        }

                        .price {
                            

                            // Selectors for standard pricing - no sale/discount price
                            .woocommerce-Price-amount {

                                bdi {              
                                    

                                    .woocommerce-Price-currencySymbol {
                                        
                                        
                                    }

                                }

                            }

                            // Selectors for Full price display
                            del {
                                
                                .woocommerce-Price-amount {

                                    bdi {
                                        

                                        .woocommerce-Price-currencySymbol {
                                            

                                        }

                                    }

                                }

                            }

                            // Selectors for discounted/sale price
                            ins {                           

                                .woocommerce-Price-amount {

                                    bdi {           
                                        

                                        .woocommerce-Price-currencySymbol {
                                            

                                        }

                                    }

                                }

                            }

                        }

                    }

                    .product_type_simple {

                        // Note: Add to basket button selector as an anchor element
                        

                    }

                }
                
            }

        }
    }   

    #sidebar {


            /* WooCommerce Sidebar Section 

            Three Child <ul> elements

            1. Search Text Box and Button
            2. Site Pages List - role=navigation
            3. Third Child - Blank <ul> Element by default
            */

            
            // Author information and Search Form - You can also try using a first-child CSS 
            // selector for ul elements that are children for the div element with an ID of #sidebar        
            ul {

                li {

                    // 
                    #searchform {

                        // Note: <form> element

                        div {

                            .screen-reader-text {

                            }

                            #s {

                            }

                            #searchsubmit {

                            }

                        }

                    }

                }

                // ul role= navigation - Sidebar pages navigation list
                li.pagenav {

                    h2 {

                    }

                    ul {

                        .page-item {

                            // Note: list item selector that contains an anchor tag for each page

                            a {

                            }
                            
                        }

                    }

                }

                // Note: WooCommerce outputs no class selector for second list item; that is meant for the Sidebar archives list
                li {

                    h2 {

                        // Archive Title Text

                    }
                    
                    ul {

                        li {

                            a {


                            }

                        }

                    }

                }

                // Note: Selector for Sidebar Categories list
                li.categories {

                    h2 {

                    }

                    ul {

                        li.cat-item {

                            a {

                            }

                        }

                    }

                }

            }

    }

    #footer {

        // Note: #footer is a div element  with id of footer (WooCommerce default state)
        p {

            a {
                
                &:hover {
                    
                }

            }

        }

    }

}



/* Single Product Page - Selectors Check began 01-06-2022 - 21:07 */

// Containing element - as clicked through from the Shop Archive page
#page {

    #header {
        

        #headerimg {

            h1 {

                a {

                }

            }

            .description {


            }

        }

    }

    #primary {

        #main {

            .woocommerce-breadcrumb {

                ::before {

                }

                a {
                    
                }

                ::after {

                }
            }

            .woocommerce-notices-wrapper {

            }

            .type-product {

                .onsale {
                    
                    // Note: onsale span element for inclusion when there is a product sale

                }

                //.woocommerce-product-gallery {}

            }

        }


    }

}


/* WooCommerce Basket Page - Selectors Check */

// Containing element
.woocommerce {

}



/* WooCommerce Checkout Page  - Selectors Checked: 04-06-2022 - 16:11 */

// Containing element
.woocommerce {

    .woocommerce-notices-wrapper {

    }

    .woocommerce-form-coupon-toggle {

        .woocommerce-info {

            &::before {

            }

            &::after {

            }

            // coupon toggle link
            .showcoupon {
                    
            }

        }

    }

    .checkout_coupon {

        // NOTE: <form> This element is displayed in the browser when .showcoupon toggle class is open
        p {

        }

        .form-row-first {

            label {

                abbr.required {

                }
                
            }

            // contains coupon code text box
            .input-text {

            }

        }

        .form-row-last {

            // contains coupon button
            .button,
            button[type="submit"] {

            }            

        }

        .clear {

        }

    }

    .woocommerce-checkout {

        #customer_details {

            .col-1 {

                .woocommerce-billing-fields {

                    // 

                    h3 {

                    }

                    .woocommerce-billing-fields__field-wrapper {

                        .form-row {

                            label {

                            }

                            .woocommerce-input-wrapper {

                                .input-text {

                                }

                                .country_to_state {

                                    option {

                                    }

                                }

                                // select2  select1? select3?
                                .select2-container {

                                    .selection {

                                        .select2-selection {

                                            .select2-selection__rendered {

                                            }

                                            .select2-selection__arrow {

                                                b {

                                                }
                                                
                                            }

                                        }

                                    }

                                } 

                            }

                        }

                    }
                }

            }

            .col-2 {

                .woocommerce-shipping-fields {

                }

                .woocommerce-additional-fields {

                    h3 {

                    }

                    .woocommerce-additional-fields__field-wrapper {

                        .notes {

                            label#order_comments {

                            }

                            .woocommerce-input-wrapper {

                                #order_comments {

                                }

                            }

                        }

                    }

                }

            }

        }

    }

    .order_review_heading {

    }

    .woocommerce-checkout-review-order {

        .woocommerce-checkout-review-order-table {

            thead {

                tr {

                    th.product-name {

                    }

                    th.product-total {

                    }

                }

            }

            tbody {

                .cart_item {

                    .product-name {
                        
                        // table cell

                        .product-quantity {

                        }

                    }

                    .product-total {
                        
                        // table cell
                        .woocommerce-Price-amount {

                            bdi {

                                // styling for amount

                                .woocommerce-Price-currencySymbol {

                                }

                            }

                        }

                    }

                }

            }

            tfoot {

                .cart-subtotal {

                    th {

                        // table header cell
                    }

                    td {

                        // table cell
                        .woocommerce-Price-amount {

                            bdi {

                                // styling for amount
                                .woocommerce-Price-currencySymbol {

                                }

                            }

                        }

                    }

                }

                .order-total {

                    th {

                        // table header cell                                
                    }

                    td {

                        // strong in place of span for subtotal
                        strong {

                            .woocommerce-Price-amount {

                                bdi {

                                    // styling for amount
                                    .woocommerce-Price-currencySymbol {

                                    }

                                }

                            }

                        }

                    }

                }

            }

        }

        #payment {

            .wc_payment_methods {

            }

            .place-order {

                .woocommerce-terms-and-conditions-wrapper {

                    .woocommerce-privacy-policy-text {

                        p {

                            .woocommerce-privacy-policy-link {

                            }

                        }

                    }

                }

                .woocommerce_checkout_place_order {

                }

            }

        }

    }

}



/* WooCommerce My Account Page - Selectors Check */

// Containing element
.woocommerce {

}



/* WooCommerce Privacy Policy Page - Selectors Check */

// Containing element
.side-one > article {

    p {

        a {

        }

        strong, b {

        }

        em, i {
            
        }

        .privacy-policy-tutorial {

        }

    }

}


/* Refund and Returns Page - Selectors Check  */

// Containing element
.side-one > article {

}

