/* Pages and their Selectors 
* 
*  This selectors use a custom theme rather than any of the prepacked WooCommerce Shop Templates
*
*  Use this file to as an alternative place to get the CSS Selectors you need. (Written in SASS/CSS)
*/


/* WooCommerce Shop Homepage - Selectors Rechecked: 13-06-2022 - 11:48 */

// Shop cover block
.wp-block-cover {

    .wp-block-cover__gradient-background {

    }

    .wp-block-cover__image-background {

    }

    .wp-block-cover__inner-container {

       
        .has-text-color {

            // has text colour seems to be the general class to target

        }
        
        //.has-text-align-left
        //.has-text-align-right
        //.has-text-align-center        

        .wp-block-button {

            .wp-block-button__link {

            }

        }

    }

}

// Section: New Products (Level 2 Heading Element)   .has-text-align-left  .has-text-align-right
.has-text-align-center {

}

// New Products Section Selectors - wc-block-grid 
.wc-block-grid 
.wp-block-product-new {

    .wc-block-grid__products { 

        .wc-block-grid__product {

            .wc-block-grid__product-link {

                .wc-block-grid__product-image {

                    .attachment-woocommerce_thumbnail {

                    }

                }

                .wc-block-grid__product-title {

                }
                
            }
            
            // Note: product sale icon
            .wc-block-grid__product-onsale {

            }

            // Note: "New products" product price selectors
            .wc-block-grid__product-price {

                .woocommerce-Price-amount {

                    .woocommerce-Price-currencySymbol {

                    }  

                }

                // Selectors for sale and strikethrough (full) pricing
                del {

                    .woocommerce-Price-amount {

                        .woocommerce-Price-currentSymbol {

                        }

                    }

                }

                ins {

                    .woocommerce-Price-amount {

                        .woocommerce-Price-currentSymbol {

                        }  

                    }

                }

            }

        }

    }

}

// Media Text Block classes
.wp-block-media-text {

    .wp-block-media-text__media {

        .size-full {

        }

    }

    .wp-block-media-text__content {

    }

}

// Block Media Text: WooCommerce 
.wc-block-media-text {

    .wp-block-media-text__media {

        img,
        .size-full {

            // Note: <figure> .size-full class is available for this element

        }

        .wp-block-media-text__content {

            p {

                // uses an element selector rather than any of the supplied classes

            }

        }

    }

}
                        
// Featured Product Wrapper 
.wc-block-featured-product {

    .wc-block-featured-product__wrapper {

        .wc-block-featured-product__title {

            // Note: Level 2 heading element

        }
        
        .wc-block-featured-product__description {
             
            p {

            }

        }
        
        .wc-block-featured-product__price {

            // Note: Selectors for the price and currency symbol
            .woocommerce-Price-amount {

                .woocommerce-Price-currencySymbol {


                }

            }

        }
        
        .wc-block-featured-product__link {

            .wp-block-button, 
            .aligncenter {

                .wp-block-button__link {                  


                }

            }

        }

    }

}


/* WooCommerce Shop Archive Page - Selectors Rechecked: 13-06-2022 - 12:29 */

// Containing element
#page {

    #header {        

        #headerimg {

            h1 {

                a {

                }

            }

            .description {


            }

        }

    }

    #primary {

        #main {            

            .woocommerce-breadcrumb {

                ::before {

                }

                a {
                    
                }

                ::after {

                }

            }

            .woocommerce-products-header {

                .woocommerce-products-header__title, 
                .page-title {
                    

                }

                .page-description {

                    p {

                    }

                }
                
            }

            .woocommerce-notices-wrapper {

            }

            .woocommerce-result-count {

                // paragraph element - e.g. center text alignment
                color: $color-primary;

            }

            .woocommerce-ordering {                

                .orderby {

                    background: yellow;
                    padding: 10px 0;


                    // TODO: Default Sort

                    option {

                        background: #ed9141;

                        outline: green;

                        &.selected {

                            // Note: Adds the selected class to option element on orderby selection
                            background: yellow;

                        }

                    

                    } 

                }

            }

            .products {

                // individual product listing container
                .type-product {

                    .woocommerce-LoopProduct-link {

                        // Note: Style selector for the sale icon when product has a sale price
                        .onsale {
                            

                        }

                        .attachment-woocommerce_thumbnail {

                        }

                        .woocommerce-loop-product__title {
                            

                        }

                        .price {
                            

                            // Selectors for standard pricing - no sale/discount price
                            .woocommerce-Price-amount {

                                bdi {  

                                    .woocommerce-Price-currencySymbol {
                                        
                                        
                                    }

                                }

                            }

                            // Selectors for Full price display
                            del {
                                
                                .woocommerce-Price-amount {

                                    bdi {                                        

                                        .woocommerce-Price-currencySymbol {
                                            

                                        }

                                    }

                                }

                            }

                            // Selectors for discounted/sale price
                            ins {                           

                                .woocommerce-Price-amount {

                                    bdi {           
                                        

                                        .woocommerce-Price-currencySymbol {
                                            

                                        }

                                    }

                                }

                            }

                        }

                    }

                    .product_type_simple {

                        // Note: Add to basket button selector as an anchor element
                        

                    }

                }
                
            }

        }

    }   

    #sidebar {

        /*  
            WooCommerce Sidebar Section 

            Contains Three Child <ul> elements

            1. Search Text Box and Button
            2. Site Pages List - role=navigation
            3. Third Child - Blank <ul> Element by default            
            
            + You can also try using a first-child CSS selector for ul elements
            + that are children for the div element with an ID of #sidebar       
        */        

        ul:first-child {
                
        }
 
        ul {

            li {

                // form conntainer element
                #searchform {

                    div {

                        .screen-reader-text {

                        }

                        #s {

                        }

                        #searchsubmit {

                        }

                    }

                }

            }

            // ul role= navigation - Sidebar pages navigation list
            li.pagenav {

                h2 {

                }

                ul {

                    .page-item {

                        // Note: list item selector that contains an anchor tag for each page

                        a {

                        }
                        
                    }

                }

            }

            // Note: WooCommerce outputs no class selector for second list item; that is meant for the Achives list sidebar
            li {

                h2 {

                    // Archive Title Text

                }
                
                ul {

                    li {

                        a {


                        }

                    }

                }

            }

            // Note: Selector for Sidebar Categories list
            li.categories {

                h2 {

                }

                ul {

                    li.cat-item {

                        a {

                        }

                    }

                }

            }

        }

    }

    hr {

    }

    // #footer is a div element with id of footer (WooCommerce default state)
    #footer {
        
        p {

            a {
                
                &:hover {
                    
                }

            }

        }

    }

}


/* Single Product Page - Selectors Checked: 13-06-2022 - 10:30 */

// Containing element - as clicked through from the Shop Archive page
#page {

    #header {        

        #headerimg {

            h1 {

                a {

                }

            }

            .description {
                

            }

        }

    }

    #primary {

        #main {

            .woocommerce-breadcrumb {

                ::before {

                }

                a {
                    
                }

                ::after {

                }

            }

            .woocommerce-notices-wrapper {

            }

            .type-product {


                /*                  
                    Note: onsale span element for inclusion when a product is a sale product
                */
                .onsale { 

                }

                /* Side 1 - product gallery image */
                .woocommerce-product-gallery {

                    // div containing element
                    .woocommerce-product-gallery__wrapper {

                        .woocommerce-product-gallery__image {

                            a {

                                .wp-post-image {

                                }

                            }

                        }

                    }

                }

                /* Side 2 - Product Entry Summary for the product details 
                   and basket customisations 
                */
                .entry-summary {
                    
                    .entry-title {

                        // Note: product title per single product templates

                    }                    

                    // Selector included when a product rating is present
                    .woocommerce-product-rating {

                        .star-rating {

                            span {

                                ::before {

                                }


                                // strong.rating
                                strong {

                                }

                                // span.rating
                                span {

                                    ::before {
    
                                    }

                                }

                            }

                        }
                        
                        .woocommerce-review-link {

                            .count {

                            }

                        }

                    }

                    .price {                      

                        // Standard Product Price
                        .woocommerce-Price-amount {

                            bdi {

                                .woocommerce-Price-currencySymbol {

                                }

                            }

                        }

                        // Selector group for the non sale price
                        del {
                            
                            .woocommerce-Price-amount {

                                bdi {

                                    .woocommerce-Price-currencySymbol {

                                    }

                                }

                            }

                        }

                        // Selector group for the sale/discounted price
                        ins {
                            
                            .woocommerce-Price-amount {

                                bdi {

                                    .woocommerce-Price-currencySymbol {

                                    }

                                }

                            }

                        }

                    }

                    .woocommerce-product-details__short-description {

                        p {

                        }

                    }

                    .cart {

                        .quantity {

                            .screen-reader-text {

                            }

                            .qty {

                            }

                        }

                        .single_add_to_cart_button {


                        }

                    }

                    .product_meta {

                        .posted_in {

                            a {

                            }

                        }  

                    }

                }

                /* WC Tabs Wrapper */
                .wc-tabs-wrapper {


                    // ul
                    .tabs {

                        &::before {

                        }

                    }

                    // ul
                    .wc-tabs {

                        li {

                            &.active {

                                // Note: Class attached to the active tab

                            }

                        }

                        /* Note: 3 Tabs

                        -> Description 
                        -> Additional information 
                        -> Reviews

                    */

                        .description_tab {

                            a {

                            }

                        }

                        .additional_information_tab {

                            a {

                            }

                        }

                        .reviews_tab {

                            a {

                            }

                        }

                    }

                    // Selectors for the product page panels
                    .woocommerce-Tabs-panel {  
                       

                    }

                    //.panel { }

                    // content panel - description tab
                    .woocommerce-Tabs-panel--description {
                        
                        h2 {

                        }

                        p {

                        }

                    }

                    // content panel - additional information tab
                    .woocommerce-Tabs-panel--additional_information {
                        
                        // content panel - additional info 
                        h2 {


                        }

                        .woocommerce-product-attributes {

                            tbody {

                                tr.woocommerce-product-attributes-item {

                                    th.woocommerce-product-attributes-item__label {

                                    }

                                    td.woocommerce-product-attributes-item__value {

                                        p {

                                        }

                                    }

                                }

                            }

                        }

                    }

                    // content panel - reviews tab
                    .woocommerce-Tabs-panel--reviews {

                        // review panel selectors // content panel - Reviews Tab
                        .woocommerce-Reviews {

                            
                            // Selector used when product reviews are present
                            #comments {

                                .woocommerce-Reviews-title {

                                    span {

                                    }

                                }

                                ol.commentlist {
                                    
                                    li.review {

                                        .comment_container {

                                            .avatar {

                                            }

                                            .comment-text {

                                                .star-rating {

                                                    span {

                                                        .rating {

                                                        }

                                                    }

                                                }

                                                .meta {

                                                    // Note: comment meta info selectors                                                    
                                                    .woocommerce-review__author {

                                                    }

                                                    .woocommerce-review__dash {

                                                    }

                                                    .woocommerce-review__published-date {

                                                    }


                                                }

                                                .description {

                                                    p {

                                                    }

                                                }

                                            }

                                        }

                                    }
                                    
                                }

                                .woocommerce-noreviews {

                                    // Note: text "there are no reviews yet"
                                }
                                
                            }

                            //"Add a review" form
                            #review_form_wrapper {
                                                           
                                #review_form {

                                    #respond {

                                        // use ID or class of .comment-respond 

                                        .comment-reply-title {

                                            small {

                                                a {

                                                }

                                            }

                                        }


                                        // Comment Form for making new reviews
                                        .comment-form {

                                            .comment-form-rating {

                                                label {

                                                    .requireed {

                                                    }

                                                }

                                                .stars {

                                                    span {

                                                        .star-1,
                                                        .star-2,
                                                        .star-3,
                                                        .star-4,
                                                        .star-5 {

                                                            &::before {

                                                            }

                                                        }

                                                    }

                                                }

                                                #rating {

                                                    option {

                                                    }

                                                }

                                            }

                                            .comment-form-comment {

                                                label {

                                                    .required {

                                                    }

                                                }

                                                #comment {

                                                }

                                            }

                                            .form-submit {

                                                .submit {

                                                }

                                            }

                                            // <script>

                                        }

                                    }

                                }

                            }

                            .clear {

                            }                            

                        }

                    }

                }

                // Related products */
                .related {

                    ul.products {

                        .product-type-simple {

                            .woocommerce-loop-product__link {

                                // when the related product is a sale product
                                .onsale {

                                }

                                .attachment-woocommerce_thumbnail {


                                }

                                .woocommerce-loop-product__title {

                                }

                                // When a related product is a sale product
                                .star-rating {

                                    ::before {

                                    }

                                    span {

                                        .rating {
                                         
                                            
                                        }

                                    }


                                }

                                .price {

                                    // Standard pPice Selectors
                                    .woocommerce-Price-amount {

                                        bdi {

                                            .woocommerce-Price-currencySymbol {

                                            }

                                        }

                                    }

                                    // Related product Sale price Selectors

                                    // del
                                    del {

                                        .woocommerce-Price-amount {

                                            bdi {

                                                .woocommerce-Price-currencySymbol {

                                                }
                                                
                                            }

                                        }

                                    }


                                    // ins 
                                    ins {

                                        .woocommerce-Price-amount {

                                            bdi {

                                                .woocommerce-Price-currencySymbol {

                                                }
                                                
                                            }

                                        }

                                    }

                                }

                            }

                            .product-type_simple {

                            }

                        }

                        .product-type {

                        }

                    }

                }

            }

        }

    }

}


/* WooCommerce Basket Page - Selectors Checked: 09-06-2022 - 14:39 */

// Containing element
.woocommerce {    

    a {

        .woocommerce-notices-wrapper {

        }

        .woocommerce-cart-form {

            .shop_table {

                thead {

                    tr {

                        // Note: TH tables cells. No child selectors
                        .product-remove {}
                        .product-thumbnail {}
                        .product-name {}
                        .product-price {}
                        .product-quantity {}
                        .product-subtotal {} 

                    }

                }

                tbody {

                    .tr.woocmmerce-cart-form__cart-item {
                        
                        // td table cell classes    
                        .product-remove {

                            a {

                                &:hover {

                                    // remove button is used with an anchor <a> element 
                                    // You can use a transition for background on hover state
                                }


                            }

                            a.remove {

                                &:hover {

                                }

                            }

                        }

                        .product-thumbnail {

                            a {

                                .attachment-woocommerce_thumbnail {

                                    // Note: this is an image <img> element

                                }

                            }

                        }

                        .product-name {

                            a {

                            }

                        }

                        .product-price {

                            .woocommerce-Price-amount {

                                bdi {

                                    .woocommerce-Price-currencySymbol {

                                    }

                                }

                            }

                        }

                        .product-quantity {

                            .quantity {

                                .screen-reader-text {

                                }

                                .input-text,
                                .qty {
                                    
                                }

                            }

                        }

                        .product-subtotal {

                            .woocommerce-Price-amount {

                                bdi {

                                    .woocommerce-Price-currencySymbol {

                                    }

                                }

                            }

                        } 
                        

                        // Note: Form Basket Buttons Row  tr ---> td
                        .actions {

                            // Note: coupon text box and button element
                            .coupon {

                                label {

                                }

                                #coupon_code {

                                }

                                // Selector for the button that applies the coupon
                                button[type="submit"],
                                .button {

                                }

                            }

                            // Selector for the button that Updates the basket. No class or ID                            
                            button[type="submit"],
                            .button {


                            }

                        }

                    }

                }

            }

        }

    }

    p {

    }

    .cart-collaterals {

        &::before {

        }

        &::after {

        }

        a {

        }

        .cart_totals {

            a {

                h2 {

                    // Level 2 Heading: Basket Totals
                }

                .shop_table {

                    // Note: This element is the cart collaterals Table - table element
                    tbody {


                        // tr element
                        // Table Rows for Subtotal and Total Amounts
                        .cart-subtotal {

                            th {

                                // Note: table cell and row for order subtotals
                            }

                            td {

                                .woocommerce-Price-amount {

                                    bdi {

                                        .woocommerce-Price-currencySymbol {

                                        }

                                    }

                                }

                            }

                        }

                        .order-total {

                            th {

                                // Note: table cell and row for the total order amount

                            }

                            td {
                                // data-title="Total"

                                .strong {

                                    .woocommerce-Price-amount {
                                        // Note: span element

                                        strong {

                                            bdi {

                                                .woocommerce-Price-currencySymbol {

                                                }

                                            }

                                        }

                                    }
                                }

                            }

                        }

                    }

                }

            }

            .wc-proceed-to-checkout {

                a {

                }

                .checkout-button {

                    // wc-forward

                }

            }

        }

    }

}


/* WooCommerce Checkout Page - Selectors Checked: 04-06-2022 - 16:11 */

// Containing element
.woocommerce {

    .woocommerce-notices-wrapper {

    }

    .woocommerce-form-coupon-toggle {

        .woocommerce-info {

            &::before {

            }

            &::after {

            }

            // coupon toggle link
            .showcoupon {
                    
            }

        }

    }

    .checkout_coupon {

        // NOTE: <form> This element is displayed in the browser when .showcoupon toggle class is open
        p {

        }

        .form-row-first {

            label {

                abbr.required {

                }
                
            }

            // contains coupon code text box
            .input-text {

            }

        }

        .form-row-last {

            // contains coupon button
            .button,
            button[type="submit"] {

            }            

        }

        .clear {

        }

    }

    .woocommerce-checkout {

        #customer_details {

            .col-1 {

                .woocommerce-billing-fields {

                    // 

                    h3 {

                    }

                    .woocommerce-billing-fields__field-wrapper {

                        .form-row {

                            label {

                            }

                            .woocommerce-input-wrapper {

                                .input-text {

                                }

                                .country_to_state {

                                    option {

                                    }

                                }

                                // select2  select1? select3?
                                .select2-container {

                                    .selection {

                                        .select2-selection {

                                            .select2-selection__rendered {

                                            }

                                            .select2-selection__arrow {

                                                b {

                                                }
                                                
                                            }

                                        }

                                    }

                                } 

                            }

                        }

                    }
                }

            }

            .col-2 {

                .woocommerce-shipping-fields {

                }

                .woocommerce-additional-fields {

                    h3 {

                    }

                    .woocommerce-additional-fields__field-wrapper {

                        .notes {

                            label#order_comments {

                            }

                            .woocommerce-input-wrapper {

                                #order_comments {

                                }

                            }

                        }

                    }

                }

            }

        }

    }

    .order_review_heading {

    }

    .woocommerce-checkout-review-order {

        .woocommerce-checkout-review-order-table {

            thead {

                tr {

                    th.product-name {

                    }

                    th.product-total {

                    }

                }

            }

            tbody {

                .cart_item {

                    .product-name {
                        
                        // table cell

                        .product-quantity {

                        }

                    }

                    .product-total {
                        
                        // table cell
                        .woocommerce-Price-amount {

                            bdi {

                                // styling for amount

                                .woocommerce-Price-currencySymbol {

                                }

                            }

                        }

                    }

                }

            }

            tfoot {

                .cart-subtotal {

                    th {

                        // table header cell
                    }

                    td {

                        // table cell
                        .woocommerce-Price-amount {

                            bdi {

                                // styling for amount
                                .woocommerce-Price-currencySymbol {

                                }

                            }

                        }

                    }

                }

                .order-total {

                    th {

                        // table header cell                                
                    }

                    td {

                        // strong in place of span for subtotal
                        strong {

                            .woocommerce-Price-amount {

                                bdi {

                                    // styling for amount
                                    .woocommerce-Price-currencySymbol {

                                    }

                                }

                            }

                        }

                    }

                }

            }

        }

        #payment {

            .wc_payment_methods {

            }

            .place-order {

                .woocommerce-terms-and-conditions-wrapper {

                    .woocommerce-privacy-policy-text {

                        p {

                            .woocommerce-privacy-policy-link {

                            }

                        }

                    }

                }

                .woocommerce_checkout_place_order {

                }

            }

        }

    }

}


/* WooCommerce My Account Page - Selectors Rechecked: 06-06-2022 - 15:32 */

// Containing element
.woocommerce {

    .woocommerce-MyAccount-navigation { 

        ul {

            li {                

                // Note: CSS/Sass selector for the active tab
                & .is-active {
        
        
                }            

            }

            .woocommerce-MyAccount-navigation-link {

                a {

                }

            }

            /* WooCommerce Navigation Tab Classes */
            .woocommerce-MyAccount-navigation-link--dashboard {

            } 

            .woocommerce-MyAccount-navigation-link--orders {

            }

            .woocommerce-MyAccount-navigation-link--downloads {

            }

            .woocommerce-MyAccount-navigation-link--edit-address {

            }

            .woocommerce-MyAccount-navigation-link--edit-account {

            }

            .woocommerce-MyAccount-navigation-link--customer-logout {

            }

        }

    }

    // Note: This is the content area for WooCommerce MyAccount pages
    // according to sub tab clicked
    .woocommerce-MyAccount-content {

        .woocommerce-notices-wrapper {

            .woocommerce-message {

                &::before {


                }

                &::after {

                }

            }

        }

        p {
            // "The following addresses will be used on the checkout page by default"
        }
        

        /* 
        * 
        * MyAccount Page Dashboard Tab
        */
        p {

            strong {

            }

            // logout and other links
            a {

            }

        }        


        /* 
        * 
        * MyAccount Page Orders Tab - selectors for orders list state needed
        */
        .woocommerce-message, .woocommerce-message--info, .woocommerce-Message .woocommerce-Message--info, .woocommerce-info {

        }

        // tick icon - messages container element
        .woocommerce-info {

            /* border-top-color: ; */        
        
            &::before {

                /* color: #e1e85be; */
                /* content: "\e015\" */

            }

            // Orders tab button - "browse products"
            .woocommerce-Button button {


            }

            // WooCommerce message
            .woocommerce-message {

                &::after {

                    /* clear: both; */

                }

            }             

        }

        // Browse products button
        .woocommerce-Message--info {

            // Orders tab button - "browse products"
            .woocommerce-Button button {

                a {

                }

            }

        }

        
        /* 
        * 
        * MyAccount Page Downloads Tab
        */

        // ...  Same selectors as orders page  ...


        /* 
        * 
        * MyAccount Page Addresses Tab  /edit-address/
        */
        .woocommerce-Addresses {            

            // Address Tab - Addresses - /my-account/edit-address/billing/
            // Address Tab - Addresses - /my-account/edit-address/shipping/

            &::before {

            }

            .col-1 {

                .woocommerce-Address-title {

                    h3 {

                    }

                    .edit {

                        // add/edit address <a> hyperlink

                    }

                }

                address {

                    // 2 page states - 
                       // Address not yet set. "You have not set up this type of address yet"
                       // lists the address as a series of line breaks when address is saved

                }

            }
            

            .col-2 {

                &::after {

                    // clear: both;

                }

                .woocommerce-Address-title {

                    h3 {

                    }

                    .edit {

                    }

                }

                address {

                    // 2 States - 
                      // Address not yet set. "You have not set up this type of address yet"
                      // lists the address as a series of line breaks when address is saved

                }

            }

        }
        

        // Address Tab - Addresses Form Fields - /my-account/billing/
        // Address Tab - Addresses Form Fields - /my-account/shipping/

        form {

            h3 {

                    
            }

            // Note: Shipping and Billing Addresses have the same selectors
            .woocommerce-address-fields {

                .woocommerce-address-fields__field-wrapper {

                    p.form-row-last {

                    }

                    .form-row-first {

                    }

                    // general containing paragraph selector
                    p {

                        label {

                            .required {

                            }

                            .optional {

                            }

                        }

                        .woocommerce-input-wrapper {

                            .input-text {

                            }

                            .country_select {

                            }

                        }

                    }

                }

                p {

                    .button,
                    input[type="submit"] {

                    }

                }

            }   

            // edit-address/shipping
            .woocommerce-address-fields {

                // Editor Note:  As Billing Address Selectors - Cut for brevity

            }         

        }
        

        /* 
        * 
        * MyAccount Page Account Details Tab
        */

        .woocommerce-EditAccountForm {

            // woocommerce-form-row
            // form-row-first
            // form-row-last

            .form-row {

                // <p>

                &::before {

                } 
                
            }

            .woocommerce-form-row {

                ::before {

                }

                label {

                    .required {

                    }

                }

                .input-text {

                }

                // selector that instructs on display name edit
                span {

                    em {

                    }

                }

                &::after {

                }

            }

            fieldset {

                legend {

                }

                .woocommerce-form-row {

                    &::before {

                    }

                    label {

                    }

                    .password-input {

                        .input-text,
                        .woocommerce-Input--password,
                        input[type="password"] {

                        }                        

                        input[type="text"] {
                            
                        }


                        .show-password-input {

                            & .display-password {          

                            }

                            &::after {

                            }

                        }

                    }

                    ::after {

                    }

                }

                .form-row {

                    &::after {
                        
                    }

                }

                .form-row-wide {

                }

            }

            .clear {

            }

            p {

                button[type="submit"],
                .wooCommerce-Button {

                }

            }

            // Note: The logout sub navigation logs you out directly

        }
        
    }

}


/* WooCommerce Privacy Policy Page - Selectors Checked: 13/06/2022 - 10:45 */

// Containing element
.side-one > article {

    h1, h2, h3, h4, h5, h6 {

    }

    p {

        a {

        }

        strong, b {

        }

        em, i {

        }

        .privacy-policy-tutorial {

        }

    }

}


/* Refund and Returns Page - Selectors Checked: 13-06-2022 - 10:45 */

// Containing element
.side-one > article {

    h1, h2, h3, h4, h5, h6 {

    }

    p {

        strong, b,
        em, i {

        }
    }

    ul, ol {

        li {

        }

    }

}

