$wc-background: yellow;

$color-primary: black;

$wc-link-color: green;
$wc-link-color-secondary: red;
$wc-link-footer: blue;


// Prices
$price-amount: black;
$price-amount-currency: $price-amount;

$strike-price: black;
$strike-price-currency: $strike-price;

$delprice: red;
$delprice-currency: $delprice;